<mat-toolbar class="bg-primary-default dark:bg-default-600">

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Fernando Cruz</span>
    
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
          (click)="cambiarModoTema(temaSeleccionado.getThemeMode)">
          <mat-icon class="dark:text-yellow-500">
            {{ temaSeleccionado.getThemeMode === ThemeMode.DARK ? 'light_mode' : 'dark_mode' }}
          </mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    
</mat-toolbar>

