<app-modal #modalComponent>
  <div class="bg-white dark:bg-default-800 transition-colors ease-in-out duration-500 px-2 pt-2 pb-2 sm:p-2 sm:pb-2">

    <app-alumnos-form></app-alumnos-form>
    
  </div>
  </app-modal>
  
<!--   <ng-template #toolbar>
    <div class="py-3 flex justify-end">
      <button
        (click)="close()"
        type="button"
        class="rounded-md shadow-lg sm:tracking-wider mx-2 border border-gray-300 px-4 py-2 bg-white text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
      >
        Close
      </button>
  
      <button
        type="submit"
        class="bg-yellow-300 hover:bg-yellow-400 text-black font-bold rounded-md shadow-lg sm:tracking-wider py-2 px-4"
        [disabled]="newsletterForm.invalid"
        >Submit</button
      >
    </div>
  </ng-template> -->