<mat-toolbar class="mat-elevation-z8 bg-primary-default dark:bg-default-600">
    <button mat-icon-button  (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    Responsive side bar
</mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <img class="avatar mat-elevation-z8" 
        src="https://mir-s3-cdn-cf.behance.net/user/115/ee7a565151855.57ab7c367a338.png" />
  
      <h4 class="name">Fernando Cruz</h4>
      <p class="designation">Web Developer</p>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-button class="menu-button">
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button">
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
    </mat-sidenav>

    
    <mat-sidenav-content class="sidenav-content">
        <app-alumnos-list></app-alumnos-list>
    </mat-sidenav-content> 
    
  </mat-sidenav-container>
