<section class="relative block py-24 lg:pt-0 bg-default-50 dark:bg-default-800 transition-colors ease-in-out duration-500">
    <div class="w-full lg:w-12/12 px-4">
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200">
            
            <div class="flex-auto p-5 lg:p-10">
                
            <h4 appResaltar appRoundBlock class="font-semibold border-2 p-2 border-red-600 bg-default-50 dark:bg-default-800 transition-colors ease-in-out duration-500">Listado de Cursos</h4>


            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="Filtro">
                Filtro
                </label>
                <input (keyup)="applyFilter($event)" 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="filtro" type="text" placeholder="Filtro">
            </div>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            
            <!-- Title Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo </th>
                <td mat-cell *matCellDef="let element"> {{element.name | nombreCompleto:element.username}}</td>
            </ng-container>
            
            <!-- Body Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td appResaltar  mat-cell *matCellDef="let element"> {{element.email | slice: 0:50}} </td>
            </ng-container>
            
            <!-- UserId Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>

            <!-- UserId Column -->
            <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef> Compañía </th>
                <td mat-cell *matCellDef="let element"> {{element.company.name}} </td>
            </ng-container>


            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef style="text-align: right;"> Acciones </th>
                <td mat-cell *matCellDef="let element">
                <div style="display: flex;align-items: center;justify-content: flex-end;">
                    <button mat-flat-button color="primary" style="margin-right: 10px;"><mat-icon>edit</mat-icon></button>
                    <button mat-flat-button color="warn"><mat-icon>delete</mat-icon></button>
                </div>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
            
            </div>
        </div>
    </div>
</section>

    <div class='fixed bottom-0 w-full'>
    <button class='bottom-0 my-8 float-right px-5 py-2 bg-red-500 text-white text-sm font-bold tracking-wide rounded-full focus:outline-none'>Agregar</button>


    </div>